<!-- templates/index.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <!-- Horizontal Cards Section - 80% Width -->
    <div class="col-md-10">
      <div class="row">
        <!-- Cards in a 3-column wide div to fit 4 cards in one row -->
        {% for _ in range %}
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="http://placekitten.com/200/150" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card Title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="http://placekitten.com/200/150" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card Title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="http://placekitten.com/200/150" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card Title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    
    <!-- Vertical Cards Section - 20% Width -->
    <div class="col-md-2">
      {% for _ in range %}
      <div class="mb-3"> <!-- Bootstrap classes are not needed since the col-md-2 dictates the width -->
        <div class="card">
          <img class="card-img-top" src="http://placekitten.com/200/150" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Vertical Card</h5>
            <p class="card-text">Content for vertical card.</p>
            <a href="#" class="btn btn-primary">View More</a>
          </div>
        </div>
      </div>

      
      {% endfor %}
    </div>
    
  </div>
</div>
{% endblock %}
